.container{
    height: 120px;
    width: 400px;
   margin: auto;
   background-color: grey;
   text-align: center;
}
.indice{
    height: 10px;
    width: 70px;
    border-radius: 20px;
    background-color:white;
    visibility: hidden;
}
.indicator{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}